BODY
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Text
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    COLOR: #000000;
    FONT-FAMILY: Arial Narrow, Helvetica Condensed, Swiss
}
H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    COLOR: #000000;
    FONT-FAMILY: Arial Narrow, Helvetica Condensed, Swiss
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #000000;
    FONT-FAMILY: Arial Narrow, Helvetica Condensed, Swiss
}
H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #000000;
    FONT-FAMILY: Arial Narrow, Helvetica Condensed, Swiss
}
H5
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial Narrow, Helvetica Condensed, Swiss
}
H6
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial Narrow, Helvetica Condensed, Swiss
}
A
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.Button
{
    WIDTH: 50pt
}
.Box
{
    BORDER-RIGHT: #666666 1pt solid;
    BORDER-TOP: #666666 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #666666 1pt solid;
    BORDER-BOTTOM: #666666 1pt solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Login
{
    BORDER-RIGHT: #666666 1pt solid;
    BORDER-TOP: #666666 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #666666 1pt solid;
    WIDTH: 100pt;
    BORDER-BOTTOM: #666666 1pt solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: silver;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.WizardDropBox
{
    BORDER-RIGHT: #666666 1pt solid;
    BORDER-TOP: #666666 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #666666 1pt solid;
    WIDTH: 100pt;
    BORDER-BOTTOM: #666666 1pt solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: greenyellow
}
.Box150
{
    BORDER-RIGHT: #666666 1pt solid;
    BORDER-TOP: #666666 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #666666 1pt solid;
    WIDTH: 150pt;
    BORDER-BOTTOM: #666666 1pt solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Status
{
    COLOR: white;
    BACKGROUND-COLOR: #669900;
    TEXT-ALIGN: center
}
